{% extends 'base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/authorization.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/interface.css' %}">
{% endblock css%}
{% block name %}<h1 class="form__main-title">Авторизация</h1>{% endblock %}
{% block content %}

<div class="main">
    <div class="container">
        <div class="form">
            <div class="form-inner-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="form__inputs-list">
                        <div class="form__item">
                            <label>Имя</label>
                            <input type="text" class="form__item__input" name="username">
                        </div>
                        <div class="form__item">
                            <label>Пароль</label>
                            <input type="password" class="form__item__input"  name="password">
                        </div>
                    </div>
                    {% if message != None %}
                            <div class="message-invalid">{{message}}</div>
                    {% endif %}
                    <input type="submit" class="form__button" value="Войти">

                </form>
                <a href="{% url 'registration' %}" class="link__registration">Не зарегистрирован? Регистрируйся!</a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}