{% extends 'base.html' %}
{% load static %}
{% block title %}Всё здесь - форма изменения записи{% endblock title %}
{% block name %} <h1>Форма изменения записи</h1> {% endblock name %}
{% block content %}
<div class="container">
    <form type="multi/application" method="POST" class="container__form-add">
        <div class="form-add__item">
            <p>Название записи:</p>
            {{form.title}}
        </div>

        <div class="form-add__item">
            <p>Основной контент (код):</p>
            {{form.content}}
        </div>

        <div class="form-add__item">
            <p>Дополнительное описание:</p>
            {{form.description}}
        </div>

        <div class="form-add__item">
            <p>Раздел:</p>
            {{form.directory}}
        </div>
        {% csrf_token %}
        <input type="submit" value="Обновить"/>
    </form>
</div>

<script>
    function load(){
        item = document.querySelector("option");
        item.delete()
    }
    window.onload = load

</script>
{% endblock content %}